.filters-summary {
  display: grid;
  grid-template-areas: "title button" "filters filters";
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;

  .title {
    font-weight: 800;
  }

  > button {
    background-color: var(--color-gray-99);

    padding: 0.25rem 0.5rem;

    border: 1px solid var(--color-danger);
    border-radius: var(--border-radius);

    font-size: var(--fz-300);

    transition: var(--animation-duration-normal) ease-in-out;
    transition-property: background-color, color, border-color;

    &:hover {
      background-color: var(--color-danger);
      color: var(--color-danger-opposite);

      border-color: transparent;
    }
  }

  .filters {
    grid-column: 1 / -1;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    > li {
      background-color: var(--color-surface-700);
      box-shadow: var(--shadow-400);

      position: relative;
      overflow: hidden;

      padding: 0.25rem 0.75rem;

      border-radius: 99rem;

      cursor: pointer;

      > button {
        border: none;

        background-color: transparent;
      }

      &::after {
        transition: var(--animation-duration-normal) ease-in-out;
        transition-property: opacity;

        content: "x";

        background-color: var(--color-danger);
        color: var(--color-danger-opposite);

        position: absolute;
        inset: 0;
        z-index: 1;

        display: grid;
        place-content: center;

        opacity: 0;

        transform: scale(0.75);
      }

      &:hover {
        &::after {
          opacity: 1;

          transform: scale(1);
        }
      }
    }
  }
}
