.history {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  > ul {
    display: flex;
    gap: 1rem;

    > li {
      button {
        display: flex;
        align-items: center;
        gap: 1ch;

        background-color: var(--color-gray-98);

        padding: 0.25rem 0.75rem;

        border: none;
        border-radius: 99rem;

        font-size: 0.75rem;

        cursor: pointer;

        &:hover {
          background-color: var(--color-gray-80);
        }
      }
    }
  }
}
