.filter-button {
  background-color: transparent;
  color: inherit;

  display: grid;
  place-content: center;

  padding: 0.25rem 0.5rem;

  border: 1px solid currentColor;
  border-radius: var(--border-radius);

  cursor: pointer;

  transition: 0.2s ease-in-out;
  transition-property: background-color, color;

  &:hover,
  &.active {
    background-color: var(--color-primary-darker);
    color: var(--color-primary-opposite);
  }
}
