.sidebar {
  .item {
    position: relative;

    &.active {
      color: var(--color-primary);

      &::before {
        content: "";

        background-color: var(--color-primary);

        position: absolute;
        inset-block: 0;
        inset-inline-start: 0;

        block-size: 1.5em;
        inline-size: 2px;

        margin: auto;

        border-radius: 99rem;
      }
    }
  }

  .item > a,
  button.item {
    display: grid;
    gap: 1rem;

    padding: 0.5rem 1rem;

    border-radius: var(--border-radius);

    &:hover {
      background-color: var(--color-surface-300);
    }
  }

  button.item {
    background-color: transparent;

    inline-size: 100%;

    border: none;

    text-align: start;
  }
}
