.wrapper {
  display: grid;
  gap: 1rem;

  .title {
    font-size: var(--fz-500);
    font-weight: 700;
  }

  .card {
    background-color: var(--color-gray-surface-700);
    box-shadow: var(--shadow-400);

    padding: 1rem;

    border-radius: var(--border-radius);
  }
}
